# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Peaky-Blinders.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Repository Unity\Peaky Blinders Repository\Peaky-Blinders\.idea\.idea.Peaky-Blinders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
